.main {
  background-color: darkcyan;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  align-items: start;
  box-sizing: border-box;
}
